<section id="about">
    <h2>{{ .content.title }}</h2>
    <p><strong>직업:</strong> {{ .content.role }}</p>
    <p><strong>소속:</strong> <a href="{{ .content.organization_url }}">{{ .content.organization }}</a></p>
    <p><strong>소개:</strong> {{ .content.bio }}</p>
    
    <h2>채현’s CODING Interests</h2>
    <ul>
        {{ range .Params.interesting }}
            <li>
                <h3>{{ .name }}</h3>
                <p>{{ .description }}</p>
                {{ if .icon }}
                    <i class="{{ .icon_pack }} fa-{{ .icon }}"></i>
                {{ end }}
            </li>
        {{ end }}
    </ul>

    <h2>채현’s Tech Stack</h2>
    <ul>
        {{ range .Params.techstack }}
            <li>
                <h3>{{ .name }}</h3>
                <ul>
                    {{ range .items }}
                        <li>{{ .name }}</li>
                    {{ end }}
                </ul>
            </li>
        {{ end }}
    </ul>
</section>
