/* Full-width section */
.full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    max-width: 100%; /* Restricting maximum content width */
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Hero Section */
  .hero-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  .bio p {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
  }
  
  .buttons a:hover {
    background-color: #555;
  }
  
  /* Skills Section */
  .skills-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 40px 0;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .skills-category {
    margin-bottom: 40px;
  }
  
  .skills-category h3, .skills-category h4 {
    margin-bottom: 15px;
  }
  
  .skill-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .skill {
    background-color: #e0e0e0;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    color: #333;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .skill:hover {
    background-color: #333;
    color: #fff;
  }
  