<!-- layouts/partials/views/community/tech_stack.html -->
<!-- Skills Section -->
<section id="skills" class="skills-section">
    <h2>SKILLS ABILITY</h2>
  
    <!-- Language/Framework/Library -->
    <div class="skills-category">
      <h3>Language/Framework/Library</h3>
      <h4>Backend</h4>
      <div class="skill-icons">
        <span class="skill">Kotlin</span>
        <span class="skill">Java</span>
        <span class="skill">Spring Boot</span>
        <span class="skill">Spring</span>
        <span class="skill">Gradle</span>
      </div>
      <h4>DevOps</h4>
      <div class="skill-icons">
        <span class="skill">AWS - EC2</span>
        <span class="skill">MySQL</span>
        <span class="skill">Markdown</span>
      </div>
      <h4>Frontend</h4>
      <div class="skill-icons">
        <span class="skill">HTML</span>
        <span class="skill">CSS</span>
        <span class="skill">JS</span>
      </div>
    </div>
  
    <!-- Tools/Analytics -->
    <div class="skills-category">
      <h3>Tools & Collaboration</h3>
      <h4>Collaboration</h4>
      <div class="skill-icons">
        <span class="skill">Git</span>
        <span class="skill">Jira</span>
        <span class="skill">Slack</span>
      </div>
      <h4>Tool</h4>
      <div class="skill-icons">
        <span class="skill">VS Code</span>
        <span class="skill">Intellij</span>
        <span class="skill">Pycharm</span>
        <span class="skill">Eclipse</span>
        <span class="skill">Android Studio</span>
      </div>
    </div>
  </section>
  